body {
    padding:0;
    margin:0;
    background-color:#413F54;
    color:white;
}

* {
    margin:0;
    padding:0;
}

a {
    color:#AF929D;
}

p {
    margin:0;
}

.form-section {
    display:flex;
    flex-direction: column;
    margin:20px 0px;
    padding:10px 0px;
    align-content: space-between;
}

.form-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning-message {
    color:#DC143C;
}

.heart-icon {
    height:25px;
    width:25px;
    margin:0 10px 0 0;
}

.icon {
    height:30px;
    width:30px;
}

.icon > path {
    fill: #939393;
}

.active > path {
    fill:white;
}

small {
    margin:10px 0 0 0;
}

input {
    border:none;
    border-bottom: 2px white solid;
    background:none;
    color:white;
}

input:focus, input:active {
    border-bottom: 2px orange solid;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

textarea:focus, input:focus{
    outline: none;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button {
    background-color:#101010;
    color:white;
    padding:15px 40px;
    border-radius:9px;
}

.wrapper {
    display:flex;
    justify-content: center;
    padding:70px 0;
}

article {
    width:100%;
}


/* POST STYLING */

.post-container {
    width:100%;
    background-color:white;
    color:black;
    margin:0 0 25px 0;
}

.post-image {
    width:100%;
}

.post-profile {
    width:40px;
    height:40px;
    border-radius:50%;
    margin:0 10px 0 0;
}

.post-options {
    margin:5px 0;
    display:flex;
}

.post-info {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.post-user {
    display:flex;
    align-items: center;
    margin:5px 0;
}

.post-name {
    margin:0 5px 0 0;
}

.post-likes {
    margin:0 20px 0 0;
}

.profile {
    margin-bottom:15px;
    padding:10px;
}

.form-wrapper {
    padding: 0 20px;
}

.hidden {
    display:none;
}

.comment {
    display:flex;
    align-items: center;
    margin:10px 0 10px 0;
}

.comment-content {
    margin:0 0 0 10px;
}

.comment-field {
    display:flex;
    justify-content: space-between;
    border:grey 2px solid;
    padding:10px;
}

.comment-input {
    width:70%;
    color:black;
}

.comment-delete {
    margin-left: auto;
}

.comment-profile {
    width:20px;
    height:20px;
    border-radius:50%;
    margin:0 10px 0 0;
}

.comment-container {
}

.submit-comment {
    width:20%;
    border-radius:0;
    padding:5px;
}

.new-post-container {
    padding:20px 10px;
}

/* NAVBAR STYLING */

.bar {
 position: relative;
 width: 30px;
 margin:3px;
 height: 2px;
 background: white;
}

.bar:before {
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: inherit;
 left: 0;
 top: -10px;
 transform-origin: center center;
 transition: transform .25s ease, top .25s ease, bottom .25s ease;
}

.bar:after {
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 background: inherit;
 left: 0;
 bottom: -10px;
 transform-origin: center center;
 transition: transform .25s ease, top .25s ease, bottom .25s ease;
}

.bottom-bar.visible {
     opacity: 1;
     height:50px;
   }

   .bottom-bar {
     width:100%;
     height:50px;
     background-color: #0D1317;
     display: flex;
     justify-content: space-around;
     align-items: center;
     position:fixed;
     bottom:0;
     opacity:1;
     padding:30px 20px;
     transition:all 0.2s ease-in-out;
     z-index: 2;
   }

   .top-bar {
     width:100%;
     height:50px;
     background-color: #0D1317;
     display: flex;
     align-items: center;
     justify-content: space-between;
     position:fixed;
     top:0;
     opacity:1;
     transition:all 0.2s ease-in-out;
     z-index: 2;
     padding:30px 20px;
     box-sizing: border-box;
   }

   .menu-list {
     display:flex;
     width:100%;
     justify-content: flex-end;
     align-items: center;
   }

   .menu {
     height:0;
     width:100%;
     background-color:  #D2D6EF;
     opacity:0;
     transition:all 0.5s ease-in-out;
     display:flex;
     bottom: -100%;
     position:fixed;
     top:0;
     overflow: hidden;
     z-index:1;
     padding:0 0 50px 55px;
     box-sizing: border-box;
     align-items: center;
   }

   .open {
  opacity:1;
  height:100vh;
}

.clicked.bar {
	background: transparent;
}

.clicked.bar::before{
  transform: rotate(45deg);
  top: 0;
  background: #FFFF;
}

.clicked.bar::after{
  transform: rotate(-45deg);
  bottom: 0;
  background: #FFFF;
}

.no-scroll {
  overflow-y: hidden;
}

/* MEDIA QUERI */

div.hide {
    opacity:0;
}
